body {
    margin: 0;

    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #4e4444;

    padding: 5px;
}

header h2 {
    color: white;
}

.menu-hamburguer {
    width: 50px;
    height: 30px;

    border: 1px solid white;
    border-radius: 10px;
    
    cursor: pointer;
    
    padding: 5px;
}

.menu-hamburguer span {
    display: block;
    
    width: 100%;
    height: 2px;
    
    background-color: white;

    margin-top: 6px;
}

header nav {
    display: none;
}

header nav a {
    color: white;
    text-decoration: none;

    padding: 0 10px;
}

.banner {
    margin-top: 10px;
}

.banner img {
    width: 100%;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main div {
    width: 45%;
    
    margin: 5px;
}

main div img {
    width: 100%;
}

#sobre {
    width: 80%;
    
    border-top: 0.2px solid lightgray;
    
    margin: 5px auto;
}

#sobre h2 {
    width: fit-content;

    margin: 5px auto;
}

.logo-temporario {
    width: 40vw;
    max-width: 300px;
    height: 40vw;
    max-height: 300px;
    
    background-color: aquamarine;

    border-radius: 100%;
    
    margin: 5px auto;
}

#sobre p {
    text-align: justify;
}

footer {
    background-color: #806f6f;

    padding: 5px;
}

footer p {
    color: white;
    text-align: center;
    
    margin: 0;
}

@media (min-width: 500px) {
    .menu-hamburguer {
        display: none;
    }

    header nav {
        display: block;
    }
}

@media (min-width: 700px) {
    main div {
        width: 30%;
    }
}

@media (min-width: 830px) {
    .sobre-conteudo {
        display: flex;
    }

    .sobre-conteudo p {
        width: 50%;
        margin: 15px;
    }
}

@media (min-width: 960px) {
    .banner, main {
        max-width: 960px;
        margin: 10px auto;
    }

    main div {
        width: 20%;
    }
}